body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff0f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    color: #ff4d6d;
    font-size: 2.5rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.yes-button {
    background-color: #ff4d6d;
    color: white;
    padding: 15px 30px;
    bottom: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.3sec;
}

.no-button {
    background-color:#8a8a8a;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
}
@media (max-width: 600px) {
  h1 {
    font-size: 1.6rem !important;
    margin-top: 60px !important;
  }
  
  img {
    max-width: 90px !important;
    height: auto;
  }
}